.task {
  background-color: hsl(235, 12%, 21%);
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  word-break: break-word;
  overflow-wrap: anywhere;
  transition: opacity 0.2s linear;
}
.task-text {
  padding: 10px;
}
div.task svg {
  width: 20px;
  height: auto;
  margin-right: 5px;
  fill: hsl(202, 100%, 86%);
  cursor: pointer;
}
.delete {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  padding-left: 5px;
}
.delete svg:hover {
  fill: hsl(0, 100%, 75%);
  transition: fill 0.3s ease;
}
div.task.done {
  text-decoration: line-through;
  opacity: 0.35;
}
