body {
  background-color: hsl(233, 15%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: monospace;
  box-sizing: border-box;
}
.myH1 {
  text-align: center;
  font-weight: 600;
  margin: 30px auto;
  letter-spacing: 1.2px;
}
.main-component {
  max-width: 450px;
  margin: 20px auto;
}

.btn-clear {
  background-color: beige;
  display: block;
  margin: 20px auto;
  background-color: transparent;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s ease;
}
.btn-clear:hover {
  background-color: #ff4d4d;
  color: white;
}
.myH3 {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.congrats-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: hsl(202, 100%, 86%);
  font-size: 2rem;
  white-space: nowrap;
}
